
<div class="author">
    <h1 class="blog__post-title">Welcome to Ralvy's Blog</h1>
    <p class="blog__post-author">by Ralvy</p>
    <p class="blog__post-body">This is a basic homepage for a web blog app. Stay tuned for more updates!</p>  
</div>

<!-- image profile -->
<img class="hero-image" src="/images/ralvy-image.jpg" alt="Ralvy's Profile Image">

<!-- articles -->
 <section class="articles">
    <h2 class="articles__heading">Recent Articles</h2>
    <ul class="articles__list">

        <% data.forEach(post => { %>
         
        

        <li class="articles__list-item">
            <a href="/post/<%= post._id %>">
            <span class="post__title"><%=  post.title%></span>
            <span class="post__date"><%= post.createdAt.toDateString()  %></span>
            </a>
        </li>
    
        <% }) %>
    </ul>
    <% if (prevPage !== null) { %>
        <a href="/?page=<%= prevPage %>" class="pagination">&gt; View Newest Post</a>
      <% } %>

    <% if (nextPage !== null) { %>
     <a href="/?page=<%= nextPage %> "class="pagination">&lt; View older post</a>
    <% } %>


 </section>